<!DOCTYPE html>
<html>
	<head>
		{% include 'components/head.html' %}
	</head>
	
	<body>
		<!-- navbar -->
		{% include 'components/navbar.html' %}

		<!-- main -->
		<div id="main-content" class="w3-container w3-content">
			<div id="Demo"  class="w3-padding-top w3-padding-bottom w3-medium">
				<h2>Demo</h2>
				<h3>Mobile Security</h3>
				<div class="w3-row-padding" >
			    <div class="w3-col l3 m4">
			      <div class="demodesc">To be released ...</div>
			    </div>
				</div>
				<h3>Integrated WiGig/WiFi Networked System</h3>
				<div class="w3-row-padding" >
			    <div class="w3-col l3 m4">
			      <div class="demodesc">To be released ...</div>
			    </div>
				</div>
			</div>
		</div>

		<!-- footer -->
		{% include 'components/footer.html' %}

		<!-- javascript -->
		{% include 'resources/script' %}
	</body>
</html>