<!DOCTYPE html>
<html>
	<head>
		{% include 'components/head.html' %}
	</head>

	<body>
		<!-- navbar -->
		{% include 'components/navbar.html' %}

		<!-- main-content 本頁內容開始 -->
		<div id="main-content" class="w3-container w3-content">
			<div id="people"  class="w3-padding-top w3-padding-bottom">
				<h2>People</h2>
				<h3>Faculty</h3>
				<div class="w3-row w3-center">
					{% for person in people.faculty %}
						{% include 'components/person.html' %}
					{% endfor %}
				</div>

				
				<h3>Phd</h3>
				<div class="w3-row w3-center">
					{% for person in people.phd %}
						{% include 'components/person.html' %}
					{% endfor %}
				</div>
				
				<h3>Research Assistant</h3>
				<div class="w3-row w3-center">
					{% for person in people.assistant %}
						{% include 'components/person.html' %}
					{% endfor %}
				</div>

				<h3>Master 2016</h3>
				<div class="w3-row w3-center">
					{% for person in people.2016 %}
						{% include 'components/person.html' %}
					{% endfor %}
				</div>
				
				<h3>Master 2017</h3>
				<div class="w3-row w3-center">
					{% for person in people.2017 %}
						{% include 'components/person.html' %}
					{% endfor %}
				</div>

				<h3>Alumni</h3>
				<div class="w3-row w3-center">
					{% for person in people.alumni %}
						{% include 'components/person.html' %}
					{% endfor %}
				</div>
			</div>
		</div>

		<!-- footer -->
		{% include 'components/footer.html' %}

		<!-- javascript -->
		{% include 'resources/script.html' %}
	</body>
</html>